@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1200px){
    body{
        background-image: linear-gradient(to bottom, var(--color3), var(--color5));
        background-attachment: fixed;
        font-size: 19px;
    }

    #login_box{
        width: 68%;
    }

    #login_img{
        width: 34%;
        height: 100%;
    }

    #login_form{
        width: 66%;
        height: 100%;
    }

    .login_input{
        margin-bottom: 3%;
    }

}
@media screen and (min-width: 1201px){
    body{
        background-image: linear-gradient(to bottom, var(--color3), var(--color5));
        background-attachment: fixed;
        font-size: 19px;
    }

    #login_box{
        width: 1014px;
    }

    #login_img{
        width: 40%;
        height: 100%;
    }

    #login_form{
        width: 60%;
        height: 100%;
    }
}