@charset "UTF-8";

/* Configurações Modo Geral */

*{
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100vw;
    font: normal 1.6em Arial, Helvetica, sans-serif;
    color: white;
    background-color: #223eff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

h1{
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}