@charset "UTF-8";

/* Configuração para impressora */

*{
    margin: 0%;
    padding: 0%;
}

body{
    font: normal 1em 'Courier New', Courier, monospace;
}

header{
    padding: 3rem;
    margin-bottom: 2rem;
}

header > menu{
    display: none;
}

h2{
    margin: 25px;
}

p{
    text-indent: 30px;
    text-align: justify;
    margin: 20px;
}

article::after{
    font-weight: bolder;
    font-size: 0.8em;
    content: 'Esta página foi imprimida diretamente do site www.algumacoisa.com.br';
}