@charset "UTF-8";

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* CONFIGS GLOBAIS */

*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
body{
    font: normal 1.6rem Arial, Helvetica, sans-serif;
}
a{
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/* HEADER */

header{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
    margin: auto;
    padding: 12vw;
}
#titulo{
    font: bold 8vw Acme, sans-serif;
    margin: 1rem;
}
header a{
    color: white;
}


/* MAIN */

main{
    background-color: white;
    color: rgb(10, 10, 10);
    font: normal 4.4vw Lobster, sans-serif;
    padding: 12vw 0rem;
}
main p{
    margin: 2em 2em;
    line-height: 2.5em;
}

.imagem{
    margin: 6em 0rem;
    padding: 3em 0%;
    box-shadow: inset 0rem 0rem 3rem rgba(0, 0, 0, 0.5);
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.250);
    color: white;
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 0.5em;
    margin-left: 1.5em;
}

#img1{
    background: darkgreen url(imagens/background001.jpg) 60% center no-repeat fixed;
}

#img2{
    background: beige url(imagens/background002.jpg) center center no-repeat fixed;
}


/* FOOTER */

footer{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 1em;
    text-align: center;
}
footer a{
    color: white;
}